<!DOCTYPE html>
<html lang="ro">
  <%- include("../fragmente/head", { titlu: "Despre proiect" }) %>
  <body>
    <%- include("../fragmente/header") %>
    <main class="container">
      <h2>Despre Items Bazaar</h2>
      <p>Scurt istoric & scopul site-ului.</p>
      <img src="/resurse/img/hero.jpg" alt="Ilustrație" />
    </main>
    <%- include("../fragmente/footer") %>
  </body>
</html>
